{% extends 'store/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <div class="row">
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form method="POST" action="{% url 'checkout'%}">
					{% csrf_token %}
					{{ form|crispy }}
					<br>
					<input type="submit" class="btn btn-primary mb-2" name="submit" , value='Add Address'>	
				</form>
			</div>
		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
					<div class="cart-row">
						<div style="flex:2"><a href="{% url 'item_detail' item.product.id %}"><img class="row-image" src="{{ item.product.get_imageURL }}"></a></div>
						<div style="flex:2"><p>{{item.product.name}}</p></div>
						<div style="flex:1"><p>${{item.product.price|floatformat:2}}</p></div>
						<div style="flex:1"><p>x{{item.quantity}}</p></div>
					</div>
				{% endfor %}
				<h5>Items:   {{total_item_cart}}</h5>
				<h5>Total:   ${{total_cost_cart}}</h5>
			</div>
		</div>
	</div>

	<br>
	<br>
	{% if request.user.is_authenticated %}
				<div class="box-element">
					{% for adr in addresses %}
						<div class="cart-row">
							<div>
								<h4><strong><p>{{adr.recepient_fullname}}</p></strong></h4>
								<div>  Phone Number :-> {{adr.phone_no}}</div>
								<pre class="quantity"> {{adr.address_line1}},</pre>
								<pre class="quantity">{{adr.address_line2}},</pre>
								<pre class="quantity">{{adr.city}},</pre>
								<pre class="quantity">{{adr.state}},</pre>
								<pre class="quantity">{{adr.country}},</pre>
								<pre class="quantity">{{adr.zipcode}}</pre>
								<pre><a href="#">Use Address</a></pre>
							</div>
						</div>
					{% endfor %}
				</div>
	{% endif %}

{% endblock content %}