<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Ecom</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'store/css/main.css' %}">
	<script type="text/javascript">
		var user = '{{request.user}}'
	</script>
	<style>

		.dropdown {
		  position: relative;
		  display: inline-block;
		}

		.dropdown-content {
		  display: none;
		  position: absolute;
		  background-color: #f1f1f1;
		  min-width: 120px;
		  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		  z-index: 1;
		}

		.dropdown-content a {
		  color: black;
		  padding: 8px 16px;
		  text-decoration: none;
		  display: block;
		}

		.dropdown-content a:hover {background-color: #ddd;}

		.dropdown:hover .dropdown-content {display: block;}


</style>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <h5><strong><a class="navbar-brand" href="{% url 'store' %}" style="color: white">Ecom</a></strong></h5>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <h5><strong><a class="nav-link" href="{% url 'store' %}" style="color: white">Store <span class="sr-only">(current)</span></a></strong></h5>
	      </li>
	 
	    </ul>
	    <div class="form-inline my-2 my-lg-0">
	    	{% if request.user.is_authenticated %}
	    		<div class="dropdown">
					  <h5><strong><a style="color: white">Categories</a></strong></h5>
					  <div class="dropdown-content">
					    <a href="#">Link 1</a>
					    <a href="#">Link 2</a>
					    <a href="#">Link 3</a>
					  </div>
				</div>
				<h2 style="color: darkcyan">...</h2>
	     		<h5><strong><a href="{% url 'order_details' %}" style="color: white">Orders</a></strong></h5>
	     		<h2 style="color: darkcyan">...</h2>
	     		<h5><strong><a href="{% url 'user_logout' %}" style="color: white">Logout</a></strong></h5>
	     		<h2 style="color: darkcyan">.......</h2>
	     		{% if request.user.profile.photo %}
					<a href="{% url 'profilepage' username=user.username %}"><img src="{{ request.user.profile.photo.url }}" width="35" height="35"></a>
				{% else %}
					<a href="{% url 'profilepage' username=user.username %}"><img src="/static/images/default.png" width="35" , height="35"></a>
				{% endif %}
				<h2 style="color: darkcyan">.</h2>
		    	<h5><strong><a href="{% url 'profilepage' username=request.user.username %}" style="color: white">{{request.user.username}}</a></strong></h5>
	     	{% else %}
	     		<h5><strong><a href="{% url 'user_login' %}" style="color: white">Login</a></strong></h5>
	     		<h2 style="color: darkcyan">...</h2>
	     		<div>
		     		<h5><strong><a href="{% url 'register' %}" style="color: white">Register</a></strong></h5>
	     		</div>
	     	{% endif %}
	     	<h2 style="color: darkcyan">..</h2>
	     	<a href="{% url 'cart' %}">
	    		<img  id="cart-icon" src="{% static 'images/cart.png' %}">
	    	</a>
	    	<p id="cart-total">{{total_item_cart}}</p>

	    </div>
	  </div>
	</nav>

     <div class="container">
            <br>
            {% block content %}


            {% endblock content %}
         </div>


	<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->

	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	<script type="text/javascript" src="{% static 'store/js/main.js' %}"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>