{% extends 'store/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
	<h1 class="display-5">Log In!</h1>
	<hr class="my-4">
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}
		<br>
		<input type="submit" class="btn btn-primary mb-2" name="submit" , value='Login'>
	</form>
	<br>
	<a class="align-middle" href="{% url 'password_reset' %}">Forgotten Your password?</a><br>
	<h6 class="align-middle">OR</h6>
	<a class="align-middle" href="{% url 'register' %}">Create a new account!</a>
	<br><br>
	<div>
		<h3>Login with :</h3>
		<a href="{% url 'social:begin' 'google-oauth2' %}">
			<button type="button" name="button" class="btn btn-danger">Google</button>
		</a>
	</div>

{% endblock %}