{% extends 'quora/base.html' %}
{% block content %}
	<blockquote class="blockquote">
		<p class="mb-0">We have emailed you instructions for setting your password.
			If an account exist with the email you entered .You should receive them shortly.</p>
	</blockquote>
	<blockquote class="blockquote">
		<p class="mb-0">If you don't receive an email, please make sure the you have entered the address you registered with or check your spam folder.</p>
	</blockquote>
	<br>
	<a href="{% url 'quora:user_login' %}">Log in!</a>
{% endblock %}